Session6 results:
-----------------

L1 regularisation test results over 10 epochs:
----------------------------------------------

**Tried 20 random values between 0-1 and below are results of 20 test cases:**


For L1 lambda parameter 0.46547436621115057 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 8
Model is getting trained with L1 regularisation parameter 0.29753305970468225
 

For L1 lambda parameter 0.29753305970468225 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 9
Model is getting trained with L1 regularisation parameter 0.40862439432115183
 

For L1 lambda parameter 0.40862439432115183 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 3
Model is getting trained with L1 regularisation parameter 0.9571112667554676
 

For L1 lambda parameter 0.9571112667554676 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.15098544540478664

For L1 lambda parameter 0.15098544540478664 Best train Accuracy 9.93% and Best Test Accuracy 10.32% at Epoch 9
Model is getting trained with L1 regularisation parameter 0.537572896077256

For L1 lambda parameter 0.537572896077256 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.5220817460484727
 
For L1 lambda parameter 0.5220817460484727 Best train Accuracy 9.93% and Best Test Accuracy 10.32% at Epoch 8
Model is getting trained with L1 regularisation parameter 0.25524944587212295
 
For L1 lambda parameter 0.25524944587212295 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 6
Model is getting trained with L1 regularisation parameter 0.5881098452172127
 
For L1 lambda parameter 0.5881098452172127 Best train Accuracy 9.93% and Best Test Accuracy 10.32% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.2931356827727246

For L1 lambda parameter 0.2931356827727246 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.2573274671243987
 
For L1 lambda parameter 0.2573274671243987 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 5
Model is getting trained with L1 regularisation parameter 0.5422324474366373
 
For L1 lambda parameter 0.5422324474366373 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.7897557349246828
 
For L1 lambda parameter 0.7897557349246828 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.38946585237090336
 
For L1 lambda parameter 0.38946585237090336 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.459378133593916

For L1 lambda parameter 0.8162832606094406 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.8161323585857727

For L1 lambda parameter 0.8161323585857727 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.42459547919746876

For L1 lambda parameter 0.42459547919746876 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.9941242932229496

For L1 lambda parameter 0.9941242932229496 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.347977489753009

For L1 lambda parameter 0.347977489753009 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1


**Tried 20 random values between 0-0.01 and below are results of 20 test cases:**
<TODO>

**Tried 20 random values between [0,0.001] and below are results of 20 test cases:**

For L1 lambda parameter 0.0009739369150469022 Best train Accuracy 94.25833333333334% and Best Test Accuracy 94.99% at Epoch 10

For L1 lambda parameter 0.0007940845234789824 Best train Accuracy 97.87833333333333% and Best Test Accuracy 98.29% at Epoch 3

For L1 lambda parameter 0.0007435757710547734 Best train Accuracy 98.79333333333334% and Best Test Accuracy 98.92% at Epoch 5

For L1 lambda parameter 2.4790591819759843e-05 Best train Accuracy 99.295% and Best Test Accuracy 99.26% at Epoch 9

For L1 lambda parameter 0.00027176015562440823 Best train Accuracy 99.3% and Best Test Accuracy 99.32% at Epoch 3

For L1 lambda parameter 5.0726515141638285e-05 Best train Accuracy 99.41166666666666% and Best Test Accuracy 99.34% at Epoch 8

For L1 lambda parameter 0.0003740451636403174 Best train Accuracy 99.42166666666667% and Best Test Accuracy 99.35% at Epoch 3

For L1 lambda parameter 5.950076004311722e-05 Best train Accuracy 99.37% and Best Test Accuracy 99.34% at Epoch 7

For L1 lambda parameter 0.0005229421140694666 Best train Accuracy 99.39% and Best Test Accuracy 99.34% at Epoch 6

For L1 lambda parameter 0.00042279895149732104 Best train Accuracy 99.375% and Best Test Accuracy 99.34% at Epoch 10

For L1 lambda parameter 0.000912167373230605 Best train Accuracy 99.38% and Best Test Accuracy 99.34% at Epoch 4

For L1 lambda parameter 0.000883714090090999 Best train Accuracy 99.385% and Best Test Accuracy 99.35% at Epoch 2

For L1 lambda parameter 4.9431672827224384e-05 Best train Accuracy 99.36666666666666% and Best Test Accuracy 99.36% at Epoch 2 <== highest - good one as no overfit

For L1 lambda parameter 2.6027274107961796e-05 Best train Accuracy 99.42666666666666% and Best Test Accuracy 99.37% at Epoch 4 <== highest - very little overfit

For L1 lambda parameter 0.0001645848060913594 Best train Accuracy 99.38833333333334% and Best Test Accuracy 99.34% at Epoch 3

For L1 lambda parameter 0.0007343668989078085 Best train Accuracy 99.40833333333333% and Best Test Accuracy 99.36% at Epoch 3

For L1 lambda parameter 0.0009237728870503869 Best train Accuracy 99.39666666666666% and Best Test Accuracy 99.36% at Epoch 2

For L1 lambda parameter 0.00046713305247438156 Best train Accuracy 99.365% and Best Test Accuracy 99.35% at Epoch 8

For L1 lambda parameter 0.00012555436808300968 Best train Accuracy 99.32666666666667% and Best Test Accuracy 99.35% at Epoch 4

For L1 lambda parameter 0.0005828251163181442 Best train Accuracy 99.36% and Best Test Accuracy 99.35% at Epoch 4
