L1 regularisation test results over 10 epochs:
----------------------------------------------

**Tried 20 random values between 0-1 and below are results of 20 test cases:**


For L1 lambda parameter 0.46547436621115057 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 8
Model is getting trained with L1 regularisation parameter 0.29753305970468225
 

For L1 lambda parameter 0.29753305970468225 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 9
Model is getting trained with L1 regularisation parameter 0.40862439432115183
 

For L1 lambda parameter 0.40862439432115183 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 3
Model is getting trained with L1 regularisation parameter 0.9571112667554676
 

For L1 lambda parameter 0.9571112667554676 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.15098544540478664

For L1 lambda parameter 0.15098544540478664 Best train Accuracy 9.93% and Best Test Accuracy 10.32% at Epoch 9
Model is getting trained with L1 regularisation parameter 0.537572896077256

For L1 lambda parameter 0.537572896077256 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.5220817460484727
 
For L1 lambda parameter 0.5220817460484727 Best train Accuracy 9.93% and Best Test Accuracy 10.32% at Epoch 8
Model is getting trained with L1 regularisation parameter 0.25524944587212295
 
For L1 lambda parameter 0.25524944587212295 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 6
Model is getting trained with L1 regularisation parameter 0.5881098452172127
 
For L1 lambda parameter 0.5881098452172127 Best train Accuracy 9.93% and Best Test Accuracy 10.32% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.2931356827727246

For L1 lambda parameter 0.2931356827727246 Best train Accuracy 11.236666666666666% and Best Test Accuracy 11.35% at Epoch 2
Model is getting trained with L1 regularisation parameter 0.2573274671243987
 
For L1 lambda parameter 0.2573274671243987 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 5
Model is getting trained with L1 regularisation parameter 0.5422324474366373
 
For L1 lambda parameter 0.5422324474366373 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.7897557349246828
 
For L1 lambda parameter 0.7897557349246828 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.38946585237090336
 
For L1 lambda parameter 0.38946585237090336 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.459378133593916

For L1 lambda parameter 0.8162832606094406 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.8161323585857727

For L1 lambda parameter 0.8161323585857727 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.42459547919746876

For L1 lambda parameter 0.42459547919746876 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.9941242932229496

For L1 lambda parameter 0.9941242932229496 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1
Model is getting trained with L1 regularisation parameter 0.347977489753009

For L1 lambda parameter 0.347977489753009 Best train Accuracy 10.441666666666666% and Best Test Accuracy 10.28% at Epoch 1


**Tried 20 random values between 0-0.01 and below are results of 20 test cases:**

<currently model is running, will update soon>
